@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";


:root {
    --toastify-color-light: #ffffff;
    --toastify-color-dark: #1f2937;
    --toastify-text-color-light: #1f2937;
    --toastify-text-color-dark: #f9fafb;
    --toastify-color-success: #22c55e;
    --toastify-color-error: #ef4444;
    --toastify-color-warning: #facc15;
    --toastify-color-info: #3b82f6;
    --toastify-toast-width: 380px;
    --toastify-toast-min-height: 3.5rem;
    --toastify-toast-border-radius: 0.75rem;
}